@model Reservation3.Models.Reservation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_de_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_de_place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_de_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_de_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time_de_retour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_de_retour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.way)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.way)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
